#checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

#checkbox,
#checkbox + label {
    display: inline-block;
    vertical-align: middle;
}

#checkbox:checked {
    background: red;
}